/draft
/.vs
task1.sql
task2.sql
task3.sql
task4.sql
task5.sql
task6.sql
task7.sql
task8.sql
task9.sql
task4_corrections.sql
/map_of_keys.png
/desktop.ini
/Jorgensen A. et al. (2012) — “Microsoft SQL Server 2012 Bible”.pdf
