draft
.vs
Tasks
Workbook
map_of_keys.png
desktop.ini
Jorgensen A. et al. (2012) — “Microsoft SQL Server 2012 Bible”.pdf
Developing Microsoft SQL Server 2016 Databases
DB Knowledge Assessment Matrix.xlsx
SQL_epam_roadmap.txt